body{
	width: 100%;
	display: flex;
	justify-content: center;
}
.everything{
	max-width: 1280px
}

.header{
	width: 100%;
	max-width: 1280px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	background-color: white;
	z-index: 9999999;

}
.header-line{
	width: 100%;
	height: 1px;
	margin-top: 70px;
	position: fixed;
	z-index: 9999999;
	background-color: #caccd5;
}
.logo-mum{
	width: 160px;
	height: 68px;
	margin-left: 5%;
	margin-top: 5px;
}
.logo{
	width: 95%;
}
.nav{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	margin-right: -19.2%
}
.li{
	color: #291c4f;
	cursor: pointer;
	outline: none !important;
	text-decoration: none !important;
	margin-top: 10px
}
.line{
	width: 2px;
	height: 25px;
	background-color: #2a1c50;
	display: inline-block;
	margin-top: 5px
}
.search-input{
	width: 200px;
	height: 25px
}
.biling{
	width: 30%;
	display: flex;
	justify-content: flex-start;
	margin-left: -20px
}
.bil-mum{
	width: 28px;
	height: 35px;
	margin-left: 30px
}
.bil{
	width: 90%;
	margin-top: 5px
}
.number{
	width: 25px;
	height: 25px;
	margin-left: 20px;
	margin-top: 7px;
	border:solid #2a1c50 0.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #df1e35
}
.product-services-mum{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: -6px;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	z-index: 9999999;
}
.product-service{
	width: 100%;
	max-width: 1280px;
	display: flex;
	justify-content: flex-end;
	height: 30px;
	font-family: 'Roboto', sans-serif;
	margin-top: 77px;

}
.dropdown{
	width: 25%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Roboto', sans-serif;

}
.product-title{
	margin-top: -4px;
	outline: none !important;
	text-decoration: none !important;
}

.product{
	width: 337px;
	height: 100%;
	margin-left: -16px;
	background-color: #caccd5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	border:none;
	cursor: pointer;
	color: #291C4F ;
   	text-decoration: none !important;
  	outline: none !important;
}
.product:after{
	display: inline-block;
	margin-top: 4px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.product:hover{
	background-color: #291C4F;
	color: white
}
.product-a{
	text-decoration: none !important;
  	outline: none !important;
  	color: #291C4F
}
.product-a:hover{
	color: white
}
.services{
	width: 337px;
	height: 30px;
	background-color: #caccd5;
	margin-right: 5%;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
	color: #291C4F;
	text-decoration: none;
}
#services:hover{
	color: white;
	background-color: #291C4F;
}
#services{
	color: #291C4F;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 0.1%;
  font-family: 'Roboto', sans-serif;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	width: 320px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #8C95B0 !important;
	margin-left: 24%;
	margin-top: 1px;
	color:black;
	opacity: 0.5;
	font-family: 'Roboto', sans-serif;
}
.products{
	border:none;
	font-size: 18px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-right: -20px;
	padding-right: 50px;
}
.products:hover{
	opacity: 1;
	color: white;
}
.products:after{
	display: inline-block;
    margin-top: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: 0;
    border-bottom: .5em solid transparent;
    border-left: .5em solid transparent;
    transform: rotate(45deg);
    cursor: pointer;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { background-color: white;}

.dropdown-2 {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #8C95B0;
  width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 66%;
}

.dropdown-2:hover .dropdown-content-2 {
  display: block;
  }
.dropdown-content-2-p{
	cursor: pointer;
}
.dropdown-content-2-p:hover{
	color: white
}

.slider-img-div{
	height: 320px;
	margin-top: 102px;
}
.slider-img{
	height: 100%;
}
.carousel{
	z-index: -1;
}
.carousel-mum{
	width: 100%;
	display: flex;
	justify-content: center;
}
.carousel-control-prev-icon{
	zoom: 250%;
	margin-top:-35px;
}
.carousel-control-next-icon{
	zoom: 250%;
	margin-top:-35px;
}
.about-mum{
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}
.about{
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	max-width: 1280px;
	font-family: 'Roboto', sans-serif;
}
.solution{
	width: 340px;
	border:solid 2px #291C4F;
	height: 300px;
	display: flex;
	flex-direction: column;
	background-color: #F1F2F2;
	font-family: 'Roboto', sans-serif;
	margin-left: -25%
}
.solution-img-div{
	width: 80%;
	height: 100px;
	margin-top: 30px
}
.solution-img{
	width: 100%;
	height: 130%;
	margin-left: 10%
}
.solution-title{
	color: #8C95B0;
	font-size: 17px
}
.solution-text-div{
	height: 150px;
	width: 80%;
	margin-left: 10%;
	margin-top: 40px
}
.solution-p{
	color: #291C4F;
}
.portfolio{
	width: 260px;
	border:solid 2px #291C4F;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #F1F2F2;
	font-family: 'Roboto', sans-serif;
	
}
.portflio-img-div{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	height: 100px
}
.portfolio-img{
	width: 80%;
	height: 120%;
}
.portfolio-text{
	height: 150px;
	width: 80%;
	margin-left: 10%;
	margin-top: 40px
}
.portfolio-title{
	color: #8C95B0;
	font-size: 17px
}
.portfolio-p{
	color: #291C4F; 
}
.import{
	width: 230px;
	border:solid 2px #291C4F;
	height: 300px;
	background-color: #F1F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	margin-right: -25%
}
.import-img-div{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	height: 100px
}
.import-img{
	width: 80%;
	height: 110%;
}
.import-img{
	width: 80%;
	height: 120%;
}
.import-text{
	height: 150px;
	width: 80%;
	margin-left: 10%;
	margin-top: 40px
}
.import-title{
	color: #8C95B0;
	font-size: 17px
}
.import-p{
	color: #291C4F; 
}
.news-mum{
	width: 100%;
	display: flex;
	justify-content: center;
	height: 250px;
	margin-top: 100px;
	background-color: #291C4F;
	font-family: 'Roboto', sans-serif;
}
.news{
	display: flex;
	justify-content: space-around;
	background-color: #291C4F;
	width: 100%;
	max-width: 1280px;
	height: 250px;
	font-family: 'Roboto', sans-serif;
}
.news-img-div{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-img{
	width: 75%;
	height: 80%
}
.news-text{
	width: 60%;
	height: 80%;
	margin-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.news-title{
	font-size: 20px;
	color: red;
	margin-top: 30px
}
.news-line{
	width: 90%;
	height: 0;
	border:dashed 2px #8C95B0;
}
.news-p-title{
	font-size: 22px;
	color: white;
	text-decoration: blink
}
.news-p{
	color: white;
	width: 65%;
	font-size: 16px
}
.diagram{
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}
.diagram-mum{
	display: flex;
	justify-content: space-around;
	height: 200px;
	width: 100%;
	max-width: 1280px;
	margin-top: 30px
}
.diagram-img-div{
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.diagram-img{
	width: 80%;
	height: 80%;
}
.diagram-line{
	height: 78%;
	width: 0;
	border:dashed 2px #291C4F;
	margin-top: 2%
}
.diagram-text{
	width: 49%;
}
.diagram-title{
	width: 80%;
	margin-left: 10%;
	margin-top: 4%;
	font-size: 18px;
	color: #8C95B0;
}
.diagram-p{
	width: 80%;
	margin-left: 10%;
	color: #291C4F
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	width: 100%;
  	position: relative;
  	margin: auto;
  	font-family: 'Roboto', sans-serif;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.product-slider-img{
	width: 22%;
	height: 22%;
	margin-left: 8%;
	cursor: pointer;
}
.product-slider-img-3{
	width: 22%;
	height: 22%;
	margin-left: 8%;
	cursor: pointer;
}
.product-slider-img-p-1{
	position: absolute;
	width: 300px;
	margin-left: 12.5%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
} 
.product-slider-img-p-2{
	position: absolute;
	width: 300px;
	margin-left: 42%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
}
.product-slider-img-p-3{
	position: absolute;
	width: 300px;
	margin-left: 71.5%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
}
.product-slider-img-p-4{
	position: absolute;
	width: 300px;
	margin-left: 9%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
} 
.product-slider-img-p-5{
	position: absolute;
	width: 300px;
	margin-left: 39%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
}
.product-slider-img-p-6{
	position: absolute;
	width: 340px;
	margin-left: 65%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
}
.footer{
	max-width: 1280px;
	width: 100%;
	height: 180px;
	margin-top: 50px;
	background-color: #8C95B0;
	display: flex;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
}
.footer-line{
	width: 2px;
	height: 75%;
	background-color: #291C4F;
	margin-top: 2%
}
.footer-cpyright-logo{
	width: 40%;
	margin-left: 20%
}
.footer-copyright{
	width: 30%;
	height: 75%;
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.footer-copyright-p{
	font-size: 12px;
	margin-left: 10%;
	color: #291C4F;
	margin-bottom: 0
}
.footer-prod-serv{
	width: 20%;
	height: 75%;
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.footer-product-title{
	color:#291C4F;
	font-size: 19px;
	text-decoration: blink;
}
.footer-product-p{
	font-size: 12px;
	color:#291C4F; 
}
.footer-services-title{
	color:#291C4F;
	font-size: 19px;
	text-decoration: blink;
}
.footer-contact{
	width: 30%;
	height: 75%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 2%
}
.footer-contact-dot{
	width: 4px;
	height: 4px;
	background-color: #291C4F;
	margin-top: 7px;
}
.numbers{
	display: flex;
	justify-content: space-around;
	width: 70%;
	color: #291C4F;
}
.footer-contact-dot-1{
	width: 4px;
	height: 4px;
	background-color: #291C4F;
	margin-top: 8px
}
.mails{
	display: flex;
	justify-content: space-around;
	width: 55%;
	color: #291C4F;
}
.footer-contact-title{
	font-size: 19px;
	text-decoration: blink;
	color: #291C4F;
}
.footer-adress{
	color: #291C4F;
}
@media screen and (max-width: 1700px){
	.biling{
		margin-left: 0
	}
}
@media screen and (min-width: 1450px){
	.carousel-control-prev-icon{
		margin-left: 40%
	}
	.carousel-control-next-icon{
		margin-right: 40%
	}
}
@media screen and (min-width: 1600px){
	.carousel-control-prev-icon{
		margin-left: 80%
	}
	.carousel-control-next-icon{
		margin-right: 80%
	}
}
@media screen and (min-width: 1750px){
	.carousel-control-prev-icon{
		margin-right: -40%;
		margin-top: 0
	}
	.carousel-control-next-icon{
		margin-left: -40%;
		margin-top: 0
	}
}
@media screen and (min-width: 1850px){
	.carousel-control-prev-icon{
		margin-right: -60%;
	}
	.carousel-control-next-icon{
		margin-left: -60%;
	}
}
@media screen and (min-width: 1950px){
	.carousel-control-prev-icon{
		margin-right: -90%;
		margin-top: -100px
	}
	.carousel-control-next-icon{
		margin-left: -90%;
		margin-top: -100px
	}
}



